Package: symmetrical-meme-director
Version: 0.3
Architecture: all
Maintainer: johan jordaan <johan@1337coders.com>
Description: symmetrical-meme-director
 This is the director that listens for events from the agents and writes it to the configured db.
