Package: symmetrical-meme-agent
Version: 0.1
Architecture: all
Maintainer: johan jordaan <johan@1337coders.com>
Description: symmetrical-meme-agent
 This is the agent that generates events that is delivered to the director for processing.
